.page {
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    transition: transform 0.5s;
}

.page-back.page-enter {
    transform: translateX(-100%)
}

.page-back.page-enter-active {
    transform: translateX(0);
}

.page-back.page-exit-active {
    transform: translateX(-100%)
}



.page-forward.page-enter {
    transform: translateX(100%)
}

.page-forward.page-enter-active {
    transform: translateX(0);
}

.page-forward.page-exit-active {
    transform: translateX(100%)
}