.page {
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    transition: transform .5s;
}

.paletteList.page-enter {
    transform: translateX(-100%)
}

.paletteList.page-enter-active {
    transform: translateX(0);
}

.paletteList.page-exit-active {
    transform: translateX(-100%)
}



.newPalette.page-enter {
    transform: translateX(100%)
}

.newPalette.page-enter-active {
    transform: translateX(0);
}

.newPalette.page-exit-active {
    transform: translateX(100%)
}


.paletteForward.page-enter {
    transform: translateX(100%)
}

.paletteForward.page-enter-active {
    transform: translateX(0);
}

.paletteForward.page-exit-active {
    transform: translateX(100%)
}

.singleColorPalette.page-enter {
    transform: translateX(100%)
}

.singleColorPalette.page-enter-active {
    transform: translateX(0);
}

.singleColorPalette.page-exit-active {
    transform: translateX(100%)
}

/* //////////////////// */
.paletteBack.page-exit-active {
    transform: translateX(-100%)
}

.paletteBack.page-enter {
    transform: translateX(-100%)
}

.paletteBack.page-enter-active {
    transform: translateX(0);
}

/* 
.Palette.page-enter-active {
    transform: translateX(-100%)
} */
/* 
<section class="page Palette page-enter page-enter-active">
<section class="page singleColorPalette page-exit page-exit-active"> */